body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f1f;
    color: #e0f2f1;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #26a69a;
    margin-bottom: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #003333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.linkTrailer {
   background-color: #26a69a;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;


}

.linkTrailer:hover {
    background-color: #4db6ac;
    transform: scale(1.05);
}

.linkTrailer:active {
    background-color: #2e7d32;
}

.logout-btn:hover {
    background-color: #4db6ac;
    transform: scale(1.05);
}

.logout-btn:active {
    background-color: #2e7d32;
}

@media (max-width: 768px) {
    .logout-btn {
        width: 100%;  /* O botão ocupa a largura total da tela em dispositivos menores */
        padding: 12px;
        position: static; /* Remove a posição absoluta para o fluxo normal da página */
        margin-top: 20px;
    }
}



.movie:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.movie img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.movie img:hover {
    transform: scale(1.05);
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #80cbc4;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h4 {
    font-size: 18px;
    color: #4db6ac;
    margin: 5px 0;
    font-style: italic;
}

p {
    line-height: 1.6;
    font-size: 16px;
    color: #b2dfdb;
    text-align: center;
    max-width: 400px;
}

.vote-button {
    padding: 10px 15px;
    background-color: #001f1f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.vote-button:hover {
    background-color: #80cbc4;
}


@media (max-width: 768px) {
    .movie {
        flex-direction: column;
        text-align: center;
    }

    .movie img {
        margin: 0 auto;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}
