<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="..//static//cadastro.css">
</head>
<body>
    <div class="cadastro-container">
        <h1>Cadastro</h1>
        <form action="/inserirusuario" method="post">
            <input type="text" placeholder="login" name="login" required>
            <input type="text" placeholder="nome completo" name="nome" required>
            <input type="password" placeholder="senha" name="senha" required>
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
