<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <link rel="stylesheet" href="..//static//naocadastrado.css">
    <link rel="stylesheet" href="..//static//.css">
</head>
<body>
    <div class="container">
        <p class="message">Desculpe, acesse o login primeiro para ter acesso a essa página.</p>
    </div>

<div class ="logout-btn" >
 <form action="/logout" method="post">
     <a href="/">Clique aqui para ir ao Login</a>
    </form>
</div>

</body>
</html>
